<form action="/create" method="post">
  <h4>Add Bank</h4>

    <div class="input-field">
        <input type="text" name="bank_name">
        <label>Bank name</label>
    </div>
    <div class="input-field">
        <input type="number" name="interest_rate">
        <label>Interest rate</label>
    </div>
    <div class="input-field">
        <input type="number" name="maximum_loan">
        <label>Maximum loan</label>
    </div>
    <div class="input-field">
        <input type="number" name="m_d_payment">
        <label>Minimum down payment</label>
    </div>
    <div class="input-field">
        <input type="number" name="loan_term">
        <label>Loan term</label>
    </div>
    <button type="submit" class="btn"><i class="tiny material-icons">check</i> Add</button>
</form>
